@use 'reset'
@use 'base'
@use 'css3'

body{
	background-color:#ffb948;
}


#register {
  @include radius;
  @include shadow;
  background: silver;
  display: none;
}

header {
  height: 140px;
}
header img{
	margin-left:10px;
	margin-top:2px;

}
#join_us{
	float:right;
}


#map {
  width: 100%;
  height: 140px;
}

#canvas {
  width: 100%;
  height: 400px !important;
}

#display {
  @include radius;
  position: relative;
  background: rgba(#FF6600, .8);
  position: absolute;
  top: 380px;
  left: 87px;
  color:#fff;
  width: 360px;
  height: 110px;
  display: none;
  padding: 10px;
  ul {
    margin-top: 24px;
    li {
      display: none;
      position: absolute;
      list-style-type: none;
    }
  }
  a#close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  a#next {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

#social {
  margin: 10px;
}
